.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
    
}

.display {
    display: flex;
    margin-bottom: 10px;
    width: 500px;
}

#outputDisplay {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    width: 100%;
}

.clear-delete {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    
}

.clear-delete button {
    width: calc(50% - 5px);
    height: 70px;
    gap: 10px;
    font-size: 24px;
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin-right: 10px;
}


.operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px
}

.operators button {
    flex: 1;
    width: 70px;
    height: 70px;
    font-size: 24px;
}

.num {
    flex: 1 1 30%;
    text-align: center;
    font-size: 24px;
}